# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
.venv
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg

# Streamlit
.streamlit/
!.streamlit/secrets.toml.sample

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
